// variables 
$gradient-background: radial-gradient(circle, rgba(40,62,173,1) 0%, rgba(161,41,198,1) 100%);
$shadow: 1px 3px 12px 0px rgba(0,0,0,0.5);


// general styles
body {
    background: $gradient-background;
} 

// imports======================================================

// layouts 
@import './layouts/header';

// components
@import './components/application_details';
@import './components/candidate_list';